
:root {
  --text: #ffffff;
  --background: rgb(24, 27, 38);
  --primary: #98a8cf;
  --secondary: #80b4f7;
  --accent: #e646bd;
  --card: #252836;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NTR", sans-serif;
  font-style: normal;
}
.wrapper{
  width: 100vw;
  margin: 0 auto;
  background-color: var(--background);
  display: grid;
  justify-content: center;
  position: relative;
}
section {
  min-height: fit-content;
  min-width: 100vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 5vh 10vw;
  position: relative;
}

/*nav bar---------------*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 0.5vh;
  background-color:var(--card);
  display: flex;
  z-index: 100;
}
nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul{
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 5px;
}
nav ul li{
  display: inline-block;
  margin: 2px 10px;
}

/*home---------------*/
.container-me{
  width: 150px;
  height: 250px;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.me{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  display: block;
}
.socials{
  margin: 10px 10px;
  text-align: center;
  padding-bottom: 100px;
}
.icons {
  font-size: 30px;
  text-align: center;
  margin: 0 10px;
}

/*about me---------------*/
.tech-li{
  list-style: none;
  color: var(--text);
  font-size: 18px;
  display: grid;
  grid-template-columns: 170px 170px;
  justify-content: space-between;
  width: 50vw;
  line-height: 30px;
  padding-top: 15px;
}
.tech-li-icon{
  font-size: 15px;
  padding-right: 8px;
  color: var(--accent);
}

/*experience---------------*/
.experiences{
  list-style: none;
  min-height: 70vh;
}
.container-exp{
  display: none;
}
.container-bpvip{
  background: linear-gradient(0deg, rgba(24, 27, 38, 0.8), rgba(24, 27, 38, 0.8)), url('assets/pictures/Untitleddesign.jpg');
  border-radius: 15px;
  background-size: cover;
  min-height: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  justify-content: center;
  position: relative;
}
.bpvip-items {
  align-self: flex-start;
  max-width: 70vw;
  text-align: right;
  padding-top: 25px;
  padding-bottom: 25px;
}
.bpvip-pic{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  display: block;
}
.bpvip-header{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: 0;
  text-shadow: 0 0 12px black;
}
.bpvip-desc, p.bpvip-desc{
  text-align: center;
  text-shadow: 0 0 12px black;
  padding: 20px 2px;
}
.bpvip-tech-li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
  font-size: 18px;
  margin-top: 10px;
}

/*projects---------------*/
.projects{
  display: flex;
  flex-direction: column;
  list-style: none;
}
#projects{
  padding: 5vh 0;
}
h2.proj{
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
}
li.proj-item{
  margin-bottom: 35vh;
}
#slider-item-1{
  width: 100vw;
  height: 25vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
#slider-item-2{
  width: 100vw;
  height: 25vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
.slider-item-1{
  height: 100%;
  width: 100%;
  position: relative;
}
#slide-1{
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
}
#slide-2{
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
}
.slide-1-cap{
  position: relative;
  margin-bottom: 0;
  margin-top: 2vh;
  text-align: center;
  padding-top: 1vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
.slide-2-cap{
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  padding-top: 1vh;
  padding-left: 4vw;
  padding-right: 4vw;
}
.overlay-dark{
  height: 100%;
  width: 100%;
  background-color: var(--background);
  position: absolute;
  opacity: 0.65;
  top: 0;
  left: 0;
}
p.proj-desc{
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 0;
  text-shadow: 0 0 10px var(--background);
}
p.proj-desc-accent{
  margin-top: 10px;
  margin-bottom: 25px;
  color: var(--accent);
  text-shadow: 0 0 10px var(--background);
}
h3.proj-desc{
  text-shadow: 0 0 10px var(--background);
  margin-bottom: 5px;
}
.proj-desc-li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--accent);
  text-shadow: 0 0 10px var(--background);
  margin-top: 0;
  margin-left: 6vw;
  margin-right: 6vw;
  font-size: 18px;
  line-height: 35px;
}

/*-------------------------------------------------*/
.accent{
  color: var(--accent);
}
p.accent{
  margin-top: 10px;
  margin-bottom: 15px;
  text-shadow: 0 0 12px black;
}
p {
  line-height: 25px;
  color: var(--text);
  font-size: 18px;
}
h1 {
  font-size: 50px;
  color:var(--text);
  text-align: center;
}
h2 {
  font-size: 30px;
  color:var(--secondary);
  padding-top: 25px;
  padding-bottom: 20px;
}
h3 {
  color: var(--text);
  font-size: 25px;
}
a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color:var(--primary);
}
.overlay{
  border-radius: 15px;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  position: absolute;
  opacity: 0.65;
}
a:hover{
  color:var(--accent);
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
@media only screen and (min-width:600px) and (max-width:1170px){
  section {
    padding: 5vh 10vw;
    min-height: 70vh;
  }

  /*nav bar---------------*/
  header{
    padding: 0 2vw;
  }
  nav ul{
    text-align: right;
  }
  nav ul li{
    margin: 5px 20px; 
  }

  /*home---------------*/
  .container-me{
    width: 300px;
    height: 450px;
    margin-bottom: 60px;
  }
  .icons {
    font-size: 40px;
    margin: 0 15px;
  }

  /*about me---------------*/
  .tech-li{
    font-size: 21px;
    width: 300px;
    line-height: 32px;
  }

  /*experience---------------*/

  /*projects---------------*/
  h2.proj{
    padding-left: 0;
    padding-right: 0;
    padding-top: 35px;
    padding-bottom: 50px;
  }
  #projects{
    padding: 5vh 10vw;
  }
  li.proj-item{
    margin-bottom: 600px;
  }
  #slider-item-1{
    width: 1000px;
    height: 500px;
  }
  #slider-item-2{
    width: 1000px;
    height: 500px;
  }
  #slide-1{
    border-radius: 15px;
  }
  #slide-2{
    border-radius: 15px;
  }
  .slide-1-cap{
    margin-top: auto;
    padding-top: 250px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .slide-2-cap{
    margin-top: auto;
    padding-top: 230px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .overlay-dark{
    border-radius: 15px;
  }
  p.proj-desc{
    line-height: 30px;
    margin-bottom: 10px;
  }
  h3.proj-desc{
    margin-bottom: 10px;
  }
  .proj-desc-li{
    font-size: 21px;
  }

  /*-------------------------------*/
  p.accent{
    margin-bottom: 25px;
  }
  p {
    line-height: 35px;
    font-size: 21px;
  }
  h2 {
    font-size: 40px;
    padding-top: 35px;
    padding-bottom: 50px;
  }
  h3 {
    font-size: 30px;
  }
  a {
    font-size: 21px;
  }
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
@media only screen and (min-width:1170px){
  section {
    padding: 5vh 20vw;
  }

  /*nav bar---------------*/
  header{
    padding: 0 2vw;
  }
  nav ul{
    text-align: right;
  }
  nav ul li{
    margin: 5px 20px; 
  }

  /*home---------------*/
  .container-me{
    width: 300px;
    height: 450px;
    margin-bottom: 60px;
  }
  .icons {
    font-size: 40px;
    margin: 0 15px;
  }

  /*about me---------------*/
  .tech-li{
    font-size: 21px;
    width: 300px;
    line-height: 32px;
  }

  /*experience---------------*/
  .experiences{
    min-height: fit-content;
  }
  .bpvip{
    justify-content: unset;
  }
  .bpvip-items {
    margin-top: 0;
    left: 16vw;
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
  }
  .container-exp{
    display: unset;
    width: 600px;
    height: 325px;
    margin-bottom: 90px;
    margin-top: 0;
    position: relative;
  }
  .container-bpvip{
    background-image: none;
    align-items: unset;
    justify-content: unset;
  }
  .experience-card {
    background-color: var(--card);
    width: 700px;
    height: 280px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0px;
    padding: 20px;
    align-content: center;
  }
  .bpvip-desc, p.bpvip-desc{
    text-align: right;
    text-shadow: 0 0 12px var(--background);
    margin: 15px;
    padding: 0;
  }
  .bpvip-tech-li{
    margin-left: 300px;
    margin-top: 25px;
    font-size: 21px;
  }

  /*projects---------------*/
  h2.proj{
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  #projects{
    padding: 5vh 20vw;
  }
  li.proj-item{
    margin-bottom: 600px;
  }
  #slider-item-1{
    width: 1000px;
    height: 500px;
  }
  #slider-item-2{
    width: 1000px;
    height: 500px;
  }
  #slide-1{
    border-radius: 15px;
  }
  #slide-2{
    border-radius: 15px;
  }
  .slide-1-cap{
    margin-top: auto;
    padding-top: 250px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .slide-2-cap{
    margin-top: auto;
    padding-top: 230px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .overlay-dark{
    border-radius: 15px;
  }
  p.proj-desc{
    line-height: 30px;
    margin-bottom: 10px;
  }
  h3.proj-desc{
    margin-bottom: 10px;
  }
  .proj-desc-li{
    font-size: 21px;
  }

/*-------------------------------*/
  .overlay{
    background-color: var(--accent);
    opacity: 0.2;
  }
  .overlay:hover{
    opacity: 0;
  }
  p.accent{
    margin-bottom: 25px;
  }
  p {
    line-height: 35px;
    font-size: 21px;
  }
  h2 {
    font-size: 40px;
    padding-top: 35px;
    padding-bottom: 50px;
  }
  h3 {
    font-size: 30px;
  }
  a {
    font-size: 21px;
  }
}
